{% extends '::base.html.twig' %}

{% block body -%}
	<h1>{{ 'portfolio.creation'|trans }}</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}

		<input type="submit" value="{{ 'create'|trans }}" class="btn btn-default" />
	{{ form_end(form) }}

	<ul class="record_actions">
		<li>
			<a class="btn btn-default" href="{{ path('portfolio') }}">
				{{ 'list.back'|trans }}
			</a>
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function() {
			$("select").chosen({width: "30%"});
		});
	</script>
{% endblock %}
