{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block body -%}
	<h1>{{ 'Portfolio creation'|trans }}</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}

		<input type="submit" value="{{ 'Create'|trans }}" class="btn btn-default" />
	{{ form_end(form) }}

	<ul class="record_actions">
		<li>
			<a class="btn btn-default" href="{{ path('portfolio') }}">
				{{ 'Back to the list'|trans }}
			</a>
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function() {
			$("select").chosen({width: "30%"});
		});
	</script>
{% endblock %}
