{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain "app" %}

{% block body -%}
	<h1>{{ 'Share edit'|trans }} #{{ entity.id }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('share') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
