{% extends '::base.html.twig' %}

{% trans_default_domain "app" %}

{% block body -%}
	<h1>{{ 'share.edit'|trans }} #{{ entity.id }}</h1>

	{{ form_start(edit_form) }}
		{{ form_widget(edit_form) }}

		<input type="submit" value="{{ 'update'|trans }}" class="btn btn-default" />
	{{ form_end(edit_form) }}

	<ul class="record_actions">
		<li>
			<a class="btn btn-default" href="{{ path('share') }}">
				{{ 'list.back'|trans }}
			</a>
		</li>
		<li>{{ form(delete_form) }}</li>
	</ul>
{% endblock %}
